<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body class="containerhome">

    <header class = "navbar">
        <div class="logoPhoto">
            <img class="babyphoto" src="/css/babies.jpg">
        </div>
        <div class="siteName">
            <h1>MedCheck</h1> 
        </div>
        <div class="links">
            <a href="google.com">Google</a>
            <a href="yahoo.com">Yahoo</a>
            <a href="youtube.com">Youtube</a>
        </div>
    </header>


    <main class="homeMain" id="ageCheck">

    
        <% if(two || four || six || twelve) {%>
            <section>
               
                <h1>These Are The Remaining Vaccines:</h1>


                <!--Two month -->
                <% if(two.length > 0) {%>
                    <h3>Month Two Vaccines</h3>
                    <%for(let i = 0; i < two.length; i++) {%>
                        <h5><a href="show/<%=two[i]._id%>"><%=two[i].name%></a> <!-- needs to be taken when your child is <%=two[i].month%> months old.</h5> -->
                    <%}%>
                <%}%>

                <!-- FOUR MONTHS -->
                <% if(four.length > 0) {%>
                    <h3>Month Four Vaccines</h3>
                    <%for(let i = 0; i < four.length; i++) {%>
                        <h5><a href="show/<%=four[i]._id%>"><%=four[i].name%></a> <!-- needs to be taken when your child is <%=four[i].month%> months old. --></h5>
                    <%}%>

                <%for(let i = 0; i < remaining.length; i++) {%>
                    <h5><%=remaining[i].month%> MONTHS - <a href="show/<%=remaining[i]._id%>"><%=remaining[i].name%></a></h5>
                    

                <%}%>

                <!-- SIX MONTHS -->
                <% if(six.length > 0) {%>
                    <h3>Month Six Vaccines</h3>
                    <%for(let i = 0; i < six.length; i++) {%>
                        <h5><a href="show/<%=six[i]._id%>"><%=six[i].name%></a> <!-- needs to be taken when your child is <%=six[i].month%> months old. --></h5>
                    <%}%>
                <%}%>

                <!-- TWELVE MONTHS -->
                <% if(twelve.length > 0) {%>
                    <h3>Month Twelve Vaccines</h3>
                    <%for(let i = 0; i < twelve.length; i++) {%>
                        <h5><a href="show/<%=twelve[i]._id%>"><%=twelve[i].name%></a> <!-- needs to be taken when your child is <%=twelve[i].month%> months old. --></h5>
                    <%}%>
                <%}%>

            </section>
        <%} else {%>
            <section>
                <h1>Scheduling Your Child's Vaccines</h1>
                <h3>Find Out Which Vaccines Your Child Needs & When To Schedule Your Appointments</h3>
                <form action="/vaccines/remaining" method="POST">
                    <input type="text" name="age" placeholder="Your Child's Age in Months" /><br>
                    <br>
                    <button type='Submit'>Tell Me Which Vaccines Are Left</button>
                </form>
            </section>
        <%}%>

    </main>

    <aside class="homeAside">
        <div class="login">
        <h3>Log In</h3>
            <form action="/users/login" method="POST">
                <label>Username:</label> <input type="text" name="username">
                 <label>Password:</label> <input type="text" name="password">
                 <br>
                 <button type="submit">Login</button>
                 <br>
                 <a href="/users">New to MedCheck?</a>
                </form><br>

        </div>
        
        <div class="register">
        <h3>Register New User</h3>
            <form action="/users/registration" method="POST">
                <label>Username:</label> <input type="text" name="username"><br>
                <label>Email:</label> <input type="text" name="email"><br>
                <label>Password:</label><input type="text" name="password"><br>
            <input type="Submit" name="Create User">
        </form>
        </div> 
    </aside>
</body>
</html>