<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Find out if your baby has all necessary vaccinations. Register to keep track of your baby's vaccinations over time.">
    <title>BabyVax</title>
    
    <% include ./partials/head %>

</head>
<body class="containerhome">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
    </header>

    <main class="homeMain" id="ageCheck">

        <% if(two || four || six || twelve) {%>
        <h2>These Are The Remaining Vaccines:</h2>
        
            <section class="vaccList">
               
                <!--Two month -->
                <% if(two.length > 0) {%>
                    <h3>Month Two Vaccines</h3>
                    <%for(let i = 0; i < two.length; i++) {%>
                        <h5><a href="show/<%=two[i]._id%>"><%=two[i].name%></a> <!-- needs to be taken when your child is <%=two[i].month%> months old.</h5> -->
                    <%}%>
                <%}%>

                <!-- FOUR MONTHS -->
                <% if(four.length > 0) {%>
                    <h3>Month Four Vaccines</h3>
                    <%for(let i = 0; i < four.length; i++) {%>
                        <h5><a href="show/<%=four[i]._id%>"><%=four[i].name%></a> <!-- needs to be taken when your child is <%=four[i].month%> months old. --></h5>
                    <%}%>
                    <%}%>

                <!-- SIX MONTHS -->
                <% if(six.length > 0) {%>
                    <h3>Month Six Vaccines</h3>
                    <%for(let i = 0; i < six.length; i++) {%>
                        <h5><a href="show/<%=six[i]._id%>"><%=six[i].name%></a> <!-- needs to be taken when your child is <%=six[i].month%> months old. --></h5>
                    <%}%>
                <%}%>

                <!-- TWELVE MONTHS -->
                <% if(twelve.length > 0) {%>
                    <h3>Month Twelve Vaccines</h3>
                    <%for(let i = 0; i < twelve.length; i++) {%>
                        <h5><a href="show/<%=twelve[i]._id%>"><%=twelve[i].name%></a> <!-- needs to be taken when your child is <%=twelve[i].month%> months old. --></h5>
                    <%}%>
                <%}%>

            </section>
        <%} else {%>
            <div class="siteInfo">
                    <h2 id="homeTitle">What is your baby's next vaccine?</h2>
                    
                    <p class="homeInfo"> <span style="font-size: 28px;">Register</span> to keep track of your baby's vaccination progress.</p>
                    <p class="homeInfo">Quickly find out what vaccine is next with our calculator below. </p>
                </div>

            <section class="vaccCheck">
                
                <form action="/vaccines/remaining" method="POST">
        
                    <h3>Enter Baby's Age in Months</h3>
                    <input class="ageInput" type="text" name="age" placeholder="" /><br>
                    <button id="checkButton" type='Submit'>Check</button>
                    
                </form>
            </section>
        <%}%>
        
    </main>

    <aside class="homeAside">
        <div class="login">
        <h3>Log In</h3>
            <form action="/users/login" method="POST">
                <label>Username:</label> <input type="text" name="username">
                 <label>Password:</label> <input type="password" name="password">
                 <br>
                 <button class="homeButton" type="submit">Login</button>
                 <br>
                 <!-- <a href="/users">New to MedCheck?</a> -->
                </form><br>

        </div>
        
        <div class="register">
        <h3>Register New User</h3>
            <form action="/users/registration" method="POST">
                <label>Username:</label> <input type="text" name="username"><br>
                <label>Email:</label> <input type="text" name="email"><br>
                <label>Password:</label><input type="password" name="password"><br>
            <button class="homeButton" type="Submit" name="Create User">Register</button>
        </form>
        </div> 
    </aside>
</body>
</html>