<!DOCTYPE html>
<html lang="en">
<head>
   <title>Show</title>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="wrapperPS">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
        <div class="links">
            <a href="/patients/new">Add Patient</a>
            <a href="/patients/<%=patient._id%>/edit">Edit User</a>
            <a href="/users">Back</a>
            <a href="/users/logout">Logout</a>
        </div>
    </header>
       <section class="patient">
               <h2>Patient Info:</h2>
                 <img src="<%=patient.image%>" alt="patient thumbnail" class="patientProfile">
                 <h4>Name: <%=patient.name%></h4>
                 <h4>Age in months: <%=patient.age%></h4>
               
               <form action="/patients/<%=patient._id%>?_method=DELETE" method="POST">
                <button class="delete" type='submit'>Delete</button>
               </form>      
       </section>
       <section class="incompVacc">
         <h2>Click On Each Vaccine <%=patient.name%> Has Been Given</h2>
        <!-- <ul> -->
          <% for(let i = 0; i < vaccines.length; i++) { %>
            <h4><%=vaccines[i].name%> -- complete by month: <%=vaccines[i].month%></h4>
            <form action="/patients/<%=patient._id%>/add/<%=vaccines[i]._id%>" method="POST">
              <button type="submit">Completed</button>
            </form>
         <% } %>
        <!-- </ul> -->
      </section>
      <section class="compVacc">
        <h2>Vaccines Completed</h2>
        
          <% for(let i = 0; i < completedVaccines.length; i++) { %>
            <h4><%=completedVaccines[i].name%></h4>
            <form action="/patients/<%=patient._id%>/remove/<%=completedVaccines[i]._id%>" method="POST">
              <button type="submit">Remove</button>
            </form>
         <% } %>
        
       </section>

  </main>
</body>
</html>