<!DOCTYPE html>
<html lang="en">
<head>
   <title>Your Baby</title>
   <% include ../partials/head %>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="wrapperPS">
    <header class = "navbar">
        <div class="siteName">
            <h1>BabyVax</h1> 
        </div>
        
    </header>
       <section class="patient">
                <h4><%=patient.name%></h4>
                 <img src="<%=patient.image%>" alt="patient thumbnail" class="patientProfile">
                 <h4><%=patient.age%> Months Old</h4>
               
               <form action="/patients/<%=patient._id%>?_method=DELETE" method="POST">
                <button class="delete" type='submit'>Delete</button>
               </form>
               <div class="links" id="patientLinks">
                  <a href="/patients/<%=patient._id%>/edit">Edit Patient</a>
                  <a href="/users">Back</a>
                  <a href="/users/logout">Logout</a>
              </div>      
       </section>
       
       <section class="incompVacc">
          <h2>Upcoming Vaccines</h2>
        <div class="vaccList">
          <% for(let i = 0; i < vaccines.length; i++) { %>
            <h4><a href="/vaccines/show/<%=vaccines[i]._id%>"><%=vaccines[i].name%></a></h4>
            <h4>Due By Month <%=vaccines[i].month%></h4>
            <form action="/patients/<%=patient._id%>/add/<%=vaccines[i]._id%>" method="POST">
              <button type="submit">Completed</button>
            </form>
         <% } %>
        </div>
      </section>
      
      <section class="compVacc">
        <h2>Completed</h2>
        <div class="vaccList">
          <% for(let i = 0; i < completedVaccines.length; i++) { %>
            <h4><a href="/vaccines/show/<%=completedVaccines[i]._id%>"><%=completedVaccines[i].name%></a></h4>
            <form action="/patients/<%=patient._id%>/remove/<%=completedVaccines[i]._id%>" method="POST">
            <!-- <button type="submit"><%=completedVaccines[i].name%></button> -->
            <button type="submit">Remove</button>
            </form>
         <% } %>
        </div>
       </section>

</body>
</html>