<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Show</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="wrapperPS">
    <header>
        <h1>MedCheck</h1>
    </header>
       <section class="patient">
               <h2>Patient Info:</h2>
               <ul>
                 <li>Name: <%=patient.name%></li>
                 <li>Age in months: <%=patient.age%></li>
               </ul>
               <form action="/patients/<%=patient._id%>?_method=DELETE" method="POST">
                <button type='submit'>Delete</button>
              </form>
                <a href="/patients/<%=patient._id%>/edit">Edit</a>
                <a href="/users">Home</a>
       </section>
       <section class="incompVacc">
         <h3>Please Click On Each Vaccine <%=patient.name%> Has Been Given:</h3>
        <ul>
          <% for(let i = 0; i < vaccines.length; i++) { %>
            <li><%=vaccines[i].name%> -- complete by month: <%=vaccines[i].month%></li>
            <form action="/patients/<%=patient._id%>/add/<%=vaccines[i]._id%>" method="POST">
              <button type="submit">Completed</button>
            </form>
         <% } %>
        </ul>
      </section>
      <section class="compVacc">
        <h3>Vaccines Completed</h3>
        <ul>
          <% for(let i = 0; i < completedVaccines.length; i++) { %>
            <li><%=completedVaccines[i].name%></li>
            <form action="/patients/<%=patient._id%>/remove/<%=vaccines[i]._id%>" method="POST">
              <button type="submit">Remove</button>
            </form>
         <% } %>
        </ul>
       </section>
</body>
</html>