<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
      <h1>Edit <%=vaccine.name%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
      </nav>
    </header>
    <main>
      <form action="/vaccines/<%=vaccine._id%>?_method=PUT" method="post">
        <input type="text" name="name" value="<%=vaccine.name%>"><br/>
        <input type="text" name="month" value="<%=vaccine.month%>"><br/>
        <input type="text" name="round" value="<%=vaccine.round%>"><br/>
        <input type="submit" value="Update vaccine"/>
      </form>
    </main>
  </body>
</html>