<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>User Page</h1>

   <h2><%=user.username%></h2>
   <!-- <p><%=user.email%></p> -->
   <h3>Patients</h3>
   <ul>
        <% for(let i = 0; i < user.patients.length; i++) { %>
            <li> Name:<a href="/patients/<%=user.patients[i]._id%>"> <%=user.patients[i].name%></a> </li>
            <li> Age: <%=user.patients[i].age %> </li>
            <li> Completed Vaccines: <%=user.patients[i].completed %></li><br>
            <li>Vaccine List: <ul>
                    <%for(let i = 0; i < vaccines.length; i++) { %>
                        <li><%=vaccines[i].name%></li>
                        
                   <% } %>
                </ul></li>
        <% } %>
    </ul>
   <a href="/patients/new">New Patient</a><br>
   <a href="/users/<%=user._id%>/edit">Edit User</a><br>
    
   <a href="/users/logout">Logout</a>
    
</body>
</html>
