<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>User Page</h1>

   <h2><a href="/users/<%=user._id%>"><%=user.username%></a></h2>
   <p><%=user.email%></p>
   <p><%=user.patients%></p>
   <a href="/patients/new">New Patient</a><br>
   <a href="/users/<%=user._id%>/edit">Edit User</a><br>
    
   <a href="/users/logout">Logout</a>
    
</body>
</html>