<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <% include ../partials/head %>

</head>
<body class="wrapperPS">

        <header class = "navbar">
            <div class="siteName">
                <h1>BabyVax</h1> 
            </div>   
        </header>

   <section class="patient">
    <h2>User Profile</h2>
    <h3>Username:<%=user.username%></h3>
    <!-- <p><%=user.email%></p> -->
    <div class="links">
            <a href="/patients/new">Add A Patient</a>
            <a href="/">Home</a>
            <a href="/users/logout">Logout</a>
        </div>
   </section>

   <section class="children">
        <h2>Patients</h2>
       
            <% for(let i = 0; i < user.patients.length; i++) { %>
                <div class="profile">
               <img src="<%=user.patients[i].image%>" alt="patient thumbnail" class="userthumb">
               <div class="profileInfo">
                    <h3> Name:<a href="/patients/<%=user.patients[i]._id%>"> <%=user.patients[i].name%></a><br> </h3>
                    <h3> Age: <%=user.patients[i].age %> months </h3>
               </div>
            </div>
            <% } %>
       
    
    
   </section>

   <section class="info">
    <h2>Important Resources</h2>
    <img src="" class="articlethumb">
    <h3></h3>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/vaccine-decision.html"><img src="./css/whyvaccinate.jpg" class="articlethumb"></a>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/vaccine-decision.html"><h3>Why Vaccinate?</h3></a>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/risks-delaying-vaccines.html"><img src="./css/vaccines.jpg" class="articlethumb"></a>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/risks-delaying-vaccines.html"><h3>What If I Skip a Vaccine?</h3></a>
</section>

</body>
</html>
