<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="wrapperPS">
        <header class = "navbar">
                <div class="logoPhoto">
                    <img class="babyphoto" src="./css/babies.jpg">
                </div>
                <div class="siteName">
                    <h1>MedCheck</h1> 
                </div>
                <div class="links">
                    <a href="/patients/new">Add A Patient</a>
                    <a href="/">Home</a>
                    <a href="/users/logout">Logout</a>
                </div>
            </header>
   <section class="patient">
    <h2>User Profile</h2>
    <h3>Username:<%=user.username%></h3>
    <!-- <p><%=user.email%></p> -->
   </section>

   <section class="children">
    <h2>Patients</h2>
         <% for(let i = 0; i < user.patients.length; i++) { %>
             <h3> Name:<a href="/patients/<%=user.patients[i]._id%>"> <%=user.patients[i].name%></a> </h3>
             <h3> Age: <%=user.patients[i].age %> </h3>
             <img src="<%=user.patients[i].image%>" alt="" class="userthumb">
         <% } %>
   </section>

   <section class="info">
    <h2>Important Resources</h2>
    <img src="" class="articlethumb">
    <h3></h3>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/vaccine-decision.html"><img src="./css/whyvaccinate.jpg" class="articlethumb"></a>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/vaccine-decision.html"><h3>Why Vaccinate?</h3></a>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/risks-delaying-vaccines.html"><img src="./css/vaccines.jpg" class="articlethumb"></a>
   <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/risks-delaying-vaccines.html"><h3>What If I Skip a Vaccine?</h3></a>
</section>

</body>
</html>
